.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #999999;
}

.table-view .column-header .label{
    -fx-text-fill: white;
    -fx-alignment: CENTER_LEFT;
}


